
nav {
    background-color:dodgerblue;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.name {font-size: 2rem;
}
nav a {
    text-decoration:none;
    text-align: right;
    padding: 60px 75px;
    font-size: 1.5rem;
}
nav a:hover {
    background-color:darkorchid;
}
.about {flex: 300;
width: 100%; 
font-size: 1.5rem;
text-align:center;
}
.selfie {
    width: 15%
}
.main-project-image {
    width: 40%;
}
.main-project-image:hover {
    opacity: .5;
}
.placeholder {
    width: 30%;
}
.placeholder:hover {
    opacity: .5;
}
.random {flex: 300;
    width: 100%; 
    font-size: 1.5rem;
    text-align:center;
}
.contact-me {flex: 300;
    width: 100%; 
    font-size: 2rem;
    text-align:center;}